p {color: #0000ff; font-family: Georgia, 'Times New Roman', Times, serif; size: auto;}
/*/ identifacor*/
#parrafo{
    color: #0000ff;
    font-family: Arial, Helvetica, sans-serif;
}

/*/ identifacor*/
.parrafo2{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}